.frame{
	text-align: center;
	cursor: pointer;
	transition: 0.75s;
	
	   
}

.img-fluid{
	max-width: 95%;
	height: auto;

}

.frame:hover{
	box-shadow: 0 0 10px rgba(0,0,0,0.5); 
	transition: 0.75s;    
}

